/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('./assets/backgroud.jpg');
  background-size: cover;
  background-position: center;
}

.sample-wrapper {
  width: inherit;
  position: relative;
  height: 100%;
  margin: 0 auto;
  background: transparent;
}
